
@{
    ViewData["Title"] = "Delete";
}

@model Event
@using EventHub.Utility
<form method="post" asp-action="Delete">
    <div class="border p-3 mt-4 ">
        <div class="row pb-2">
            <h2 class="text-dark text-center ">Delete</h2>
            <hr />
            <h3 class="text-primary text-center">@Model.EventStatus</h3>
            <hr />
        </div>

        <div asp-validation-summary="All"></div>

        <input hidden asp-for="EventManagerId" />
        <input hidden asp-for="EventId" />
        <input hidden asp-for="EventPictureUrl" />
        <div class="mb-3">
            <label asp-for="EventStatus"></label>
            <input readonly asp-for="EventStatus" class="form-control" />
        </div>
        <div class="mb-3">
            <label asp-for="EventName"></label>
            <input readonly asp-for="EventName" class="form-control" />
            <span asp-validation-for="EventName" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="EventDescription"></label>
            <input readonly asp-for="EventDescription" class="form-control" />
            <span asp-validation-for="EventDescription" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="EventLocation"></label>
            <input readonly asp-for="EventLocation" class="form-control" />
            <span asp-validation-for="EventLocation" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="EventPrice"></label>
            <input readonly asp-for="EventPrice" class="form-control" />
            <span asp-validation-for="EventPrice" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="EventPictureUrl"></label>
            <img src="~/@Model.EventPictureUrl" style="border-radius:5px; border:1px solid #bbb9b9" />
        </div>
        <button type="submit" class="btn btn-primary" >Delete</button>
    </div>

</form>

